.Rproj.user
.Rhistory
.RData
.Ruserdata
#/README.md  # ignore README file under the current directory
/README # ignore README file under the current directory
new_folder/ # ignore all files in the new_folder directory
my_private_folder/ # ignore a folder (do not commit everything in that folder)
matlab_script/zhutest/ # ignore a subfolder
r_script/test1/ # ignore a subfolder